In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("app").getOrCreate()

In [3]:
spark

In [13]:
df=spark.read.csv("New Text Document.csv",inferSchema=True,header=True)

In [14]:
df

DataFrame[name: string, age: int, gender: string, sal: int]

In [15]:
df.show()

+---------+----+------+----+
|     name| age|gender| sal|
+---------+----+------+----+
|rushikesh|  24|  male|   8|
|     amol|null|  male|null|
|  pratham|null|  null|  12|
|   reshma|  24|female|  16|
+---------+----+------+----+

In [18]:
df.fillna("male").show()

+---------+----+------+----+
|     name| age|gender| sal|
+---------+----+------+----+
|rushikesh|  24|  male|   8|
|     amol|null|  male|null|
|  pratham|null|  male|  12|
|   reshma|  24|female|  16|
+---------+----+------+----+

In [19]:
from pyspark.ml.feature import Imputer

In [25]:
obj=Imputer(inputCols=["age","sal"],outputCols=["Age","sal1"]).setStrategy("mean")

In [26]:
obj.fit(df).transform(df).show()

+---------+---+------+----+----+
|     name|Age|gender| sal|sal1|
+---------+---+------+----+----+
|rushikesh| 24|  male|   8|   8|
|     amol| 24|  male|null|  12|
|  pratham| 24|  null|  12|  12|
|   reshma| 24|female|  16|  16|
+---------+---+------+----+----+

In [28]:
df.drop("sal").show()

+---------+----+------+
|     name| age|gender|
+---------+----+------+
|rushikesh|  24|  male|
|     amol|null|  male|
|  pratham|null|  null|
|   reshma|  24|female|
+---------+----+------+