In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     -------------------------------------- 281.4/281.4 MB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     -------------------------------------- 199.7/199.7 kB 2.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824026 sha256=4806f40f4cc1aff348413df8b47d697ed7eb1f2a0055a2cfd3c4ea47d5a3d069
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\6c\e3\9b\0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

[notice] A new release of pip available: 22.1.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName("newapp").getOrCreate()

In [6]:
spark

In [12]:
df=spark.read.option("header","true").csv("salary.csv",inferSchema=True)

In [13]:
df

DataFrame[_c0: int, Metro: string, Mean Software Developer Salary (adjusted): double, Mean Software Developer Salary (unadjusted): double, Mean Unadjusted Salary (all occupations): double, Number of Software Developer Jobs: double, Median Home Price: double, City: string, Cost of Living avg: double, Rent avg: double, Cost of Living Plus Rent avg: double, Local Purchasing Power avg: double]

In [16]:
df.show()

+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
|_c0|               Metro|Mean Software Developer Salary (adjusted)|Mean Software Developer Salary (unadjusted)|Mean Unadjusted Salary (all occupations)|Number of Software Developer Jobs|Median Home Price|                City|Cost of Living avg|Rent avg|Cost of Living Plus Rent avg|Local Purchasing Power avg|
+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
|  0|        Columbus, OH|                                 117552.0|                                   108500.0|                                 51260.0|                          13430.0|         192000.0|        Columbus, OH|             984.8|  1421.5|                      2856.5|                    9335.4|
|  1|Seattle-Tacoma-Be...|                                 117323.0|                                   131167.0|                                 65400.0|                          65760.0|         491600.0|         Seattle, WA|            1250.7|  2528.2|                      4091.5|                    8971.3|
|  2|Charlotte-Concord...|                                 114122.0|                                   107046.0|                                 51000.0|                          12800.0|         208500.0|       Charlotte, NC|             989.9|  1974.5|                      3221.1|                    8939.8|
|  3|Colorado Springs, CO|                                 112118.0|                                   111670.0|                                 51430.0|                           5780.0|         296500.0|Colorado Springs, CO|            1049.2|  1594.0|                      3094.5|                    8493.1|
|  4|          Dayton, OH|                                 111616.0|                                    99338.0|                                 50100.0|                           4240.0|         124100.0|          Dayton, OH|             961.2|  1072.1|                      2586.0|                    4887.7|
|  5|Greensboro-High P...|                                 111050.0|                                    99612.0|                                 44570.0|                           1560.0|         136000.0|      Greensboro, NC|             992.9|  1445.4|                      2888.0|                    5721.9|
|  6|San Francisco-Oak...|                                 111017.0|                                   142101.0|                                 72400.0|                          59550.0|         946700.0|   San Francisco, CA|            1326.9|  4163.3|                      5290.7|                    8216.7|
|  7|San Francisco-Oak...|                                 111017.0|                                   142101.0|                                 72400.0|                          59550.0|         946700.0|         Oakland, CA|            1313.0|  3371.1|                      4754.9|                    6894.3|
|  8|San Antonio-New B...|                                 110898.0|                                   104688.0|                                 46650.0|                           5410.0|         194100.0|     San Antonio, TX|             884.3|  1469.5|                      2688.9|                    8494.9|
|  9|Dallas-Fort Worth...|                                 110891.0|                                   111113.0|                                 52590.0|                          46130.0|         243900.0|      Fort Worth, TX|             995.0|  1551.7|                      2960.0|                    6949.2|
| 10|Dallas-Fort Worth...|                                 110891.0|                                   111113.0|                                 52590.0|                          46130.0|         243900.0|          Dallas, TX|             958.7|  1926.5|                      3128.6|                   10530.6|
| 11|Durham-Chapel Hil...|                                 110313.0|                                   105018.0|                                 59940.0|                           6800.0|         243700.0|          Durham, NC|             994.3|  1616.2|                      2999.9|                    6464.2|
| 12|Atlanta-Sandy Spr...|                                 109849.0|                                   106334.0|                                 52750.0|                          38110.0|         219600.0|         Atlanta, GA|            1082.3|  1865.4|                      3334.0|                    8063.0|
| 13|Cincinnati, OH-KY-IN|                                 109013.0|                                    98112.0|                                 50030.0|                           8620.0|         169900.0|      Cincinnati, OH|             909.8| 58597.6|                      2775.1|                    7723.6|
| 14|Austin-Round Rock...|                                 108990.0|                                   109535.0|                                 53810.0|                          21160.0|         311300.0|          Austin, TX|             939.6|  2214.9|                      3275.7|                    9762.4|
| 15|         Raleigh, NC|                                 107676.0|                                   103584.0|                                 52580.0|                          12560.0|         267200.0|         Raleigh, NC|             963.6|  1589.4|                      2922.2|                    8892.9|
| 16|Houston-The Woodl...|                                 107672.0|                                   109503.0|                                 54290.0|                          20400.0|         205600.0|         Houston, TX|             903.4|  1665.8|                      2852.3|                   10673.7|
| 17|Baltimore-Columbi...|                                 107282.0|                                   115006.0|                                 57740.0|                          16200.0|         267800.0|       Baltimore, MD|            1039.3|  1600.5|                      3078.7|                    8399.9|
| 18|Las Vegas-Henders...|                                 107175.0|                                   104495.0|                                 45600.0|                           3900.0|         279900.0|       Las Vegas, NV|             965.6|  1467.2|                      2848.1|                    7702.6|
| 19|          Tucson, AZ|                                 107170.0|                                   101919.0|                                 47610.0|                           4480.0|         206200.0|          Tucson, AZ|             909.1|  1062.1|                    130097.8|                    5164.1|
+---+--------------------+-----------------------------------------+-------------------------------------------+----------------------------------------+---------------------------------+-----------------+--------------------+------------------+--------+----------------------------+--------------------------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Metro: string (nullable = true)
 |-- Mean Software Developer Salary (adjusted): double (nullable = true)
 |-- Mean Software Developer Salary (unadjusted): double (nullable = true)
 |-- Mean Unadjusted Salary (all occupations): double (nullable = true)
 |-- Number of Software Developer Jobs: double (nullable = true)
 |-- Median Home Price: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Cost of Living avg: double (nullable = true)
 |-- Rent avg: double (nullable = true)
 |-- Cost of Living Plus Rent avg: double (nullable = true)
 |-- Local Purchasing Power avg: double (nullable = true)

In [19]:
def decor1(func):
    def inner():
        x = func()
        return x * x
    return inner
 
def decor(func):
    def inner():
        x = func()
        return 2 * x
    return inner
 
@decor1
@decor
def num():
    return 10
 
@decor
@decor1
def num2():
    return 10
   
print(num())
print(num2())

400
200