In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("new").getOrCreate()

In [3]:
df=spark.read.csv("New Text Document.csv",header=True,inferSchema=True)

In [4]:
df.show()

+---------+----+------+----+
|     name| age|gender| sal|
+---------+----+------+----+
|rushikesh|  24|  male|   8|
|     amol|null|  male|null|
|  pratham|null|  null|  12|
|   reshma|  24|female|  16|
+---------+----+------+----+

In [7]:
df.select("sal").fillna(15).show()

+---+
|sal|
+---+
|  8|
| 15|
| 12|
| 16|
+---+

In [8]:
from pyspark.ml.feature import Imputer

In [9]:
obj = Imputer(inputCols=['age','sal'],
             outputCols=['age','sal']).setStrategy("mode")

In [10]:
obj.fit(df).transform(df).show()

+---------+---+------+---+
|     name|age|gender|sal|
+---------+---+------+---+
|rushikesh| 24|  male|  8|
|     amol| 24|  male|  8|
|  pratham| 24|  null| 12|
|   reshma| 24|female| 16|
+---------+---+------+---+

In [11]:
df.show()

+---------+----+------+----+
|     name| age|gender| sal|
+---------+----+------+----+
|rushikesh|  24|  male|   8|
|     amol|null|  male|null|
|  pratham|null|  null|  12|
|   reshma|  24|female|  16|
+---------+----+------+----+

In [15]:
df.show()

+---------+----+------+----+
|     name| age|gender| sal|
+---------+----+------+----+
|rushikesh|  24|  male|   8|
|     amol|null|  male|null|
|  pratham|null|  null|  12|
|   reshma|  24|female|  16|
+---------+----+------+----+

In [17]:
df.na.drop(thresh=3).show()

+---------+---+------+---+
|     name|age|gender|sal|
+---------+---+------+---+
|rushikesh| 24|  male|  8|
|   reshma| 24|female| 16|
+---------+---+------+---+