In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 10B6-0DC8

 Directory of C:\Users\kanti\OneDrive\Desktop\ML session\Pyspark

06/04/2023  20:08    <DIR>          .
06/04/2023  20:00    <DIR>          ..
06/04/2023  20:08    <DIR>          .ipynb_checkpoints
04/04/2023  20:08                23 .jovianrc
17/09/2022  07:08       140.600.832 city_temperature.csv
06/04/2023  20:07                72 pyspark 4.ipynb
04/04/2023  20:59            41.389 Pyspark2.ipynb
05/04/2023  21:04            32.194 Pyspark3.ipynb
04/04/2023  20:44                77 test.csv
05/04/2023  20:37               150 test12.csv
               7 File(s)    140.674.737 bytes
               3 Dir(s)  38.426.996.736 bytes free

In [4]:
df = spark.read.csv('cruise_ship_info.csv',header=True,inferSchema=True)

In [6]:
df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [7]:
spark.read.option('header','true').csv('cruise_ship_info.csv').createOrReplaceTempView("crew")

In [8]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 10B6-0DC8

 Directory of C:\Users\kanti\OneDrive\Desktop\ML session\Pyspark

06/04/2023  20:11    <DIR>          .
06/04/2023  20:00    <DIR>          ..
06/04/2023  20:08    <DIR>          .ipynb_checkpoints
04/04/2023  20:08                23 .jovianrc
17/09/2022  07:08       140.600.832 city_temperature.csv
14/07/2017  22:32             8.734 cruise_ship_info.csv
06/04/2023  20:11             5.227 pyspark 4.ipynb
04/04/2023  20:59            41.389 Pyspark2.ipynb
05/04/2023  21:04            32.194 Pyspark3.ipynb
04/04/2023  20:44                77 test.csv
05/04/2023  20:37               150 test12.csv
               8 File(s)    140.688.626 bytes
               3 Dir(s)  39.191.740.416 bytes free

In [10]:
spark.sql("select * from crew").show() # DML  command

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [ ]:
view -- logical

table --> Physical entity

In [ ]:
sql -- pyspark

NameError: name 'crew' is not defined

In [13]:
spark.sql("select Ship_name,Age from crew ").show()

+-----------+---+
|  Ship_name|Age|
+-----------+---+
|    Journey|  6|
|      Quest|  6|
|Celebration| 26|
|   Conquest| 11|
|    Destiny| 17|
|    Ecstasy| 22|
|    Elation| 15|
|    Fantasy| 23|
|Fascination| 19|
|    Freedom|  6|
|      Glory| 10|
|    Holiday| 28|
|Imagination| 18|
|Inspiration| 17|
|     Legend| 11|
|   Liberty*|  8|
|    Miracle|  9|
|   Paradise| 15|
|      Pride| 12|
|  Sensation| 20|
+-----------+---+
only showing top 20 rows

In [ ]:
view and role of view

In [17]:
df.select("Ship_name","Cruise_line","length").where("Ship_name='Freedom'").show()

+---------+---------------+------+
|Ship_name|    Cruise_line|length|
+---------+---------------+------+
|  Freedom|       Carnival|  9.51|
|  Freedom|Royal_Caribbean| 11.12|
+---------+---------------+------+

In [18]:
df.filter("Ship_name='Freedom'").show()

+---------+---------------+---+------------------+----------+------+------+-----------------+----+
|Ship_name|    Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+---------+---------------+---+------------------+----------+------+------+-----------------+----+
|  Freedom|       Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|  Freedom|Royal_Caribbean|  7|             158.0|      43.7| 11.12|  18.0|            36.16|13.6|
+---------+---------------+---+------------------+----------+------+------+-----------------+----+

In [21]:
spark.sql("select Ship_name,Cruise_line,length from crew where Ship_name='Freedom'").show()

+---------+---------------+------+
|Ship_name|    Cruise_line|length|
+---------+---------------+------+
|  Freedom|       Carnival|  9.51|
|  Freedom|Royal_Caribbean| 11.12|
+---------+---------------+------+

In [25]:
spark.sql("select * from crew order by Ship_name").show()

+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
|    Ship_name|     Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|
+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
|    Adventure| Royal_Caribbean| 12|            138.0|     31.14|  10.2| 15.57|            44.32|11.85|
|      Allegra|           Costa| 21|            28.43|      8.08|  6.16|   4.1|            35.19|  4.0|
|    Amsterdam|Holland_American| 13|             61.0|      13.8|   7.8|  6.88|             44.2|  6.0|
|      Arcadia|             P&O|  9|             85.0|     19.68|  9.35|  9.84|            43.19| 8.69|
|        Aries|            Star| 22|            3.341|      0.66|   2.8|  0.33|            50.62| 0.59|
|      Armonia|             MSC| 12|             58.6|     15.66|  8.24|  7.83|            37.42|  7.0|
|      Artemis|             P&O| 29|             45.0|     11.78|  7.54|   5.3|             38.2|  5.2|
|    Atlantica|           Costa| 13|           85.619|     21.14|  9.57| 10.56|             40.5|  9.2|
|       Aurora|             P&O| 13|             76.0|     18.74|  8.86|  9.39|            40.55|  8.5|
|   Brilliance| Royal_Caribbean| 11|            90.09|     25.01|  9.62|  10.5|            36.02| 8.48|
|    Caribbean|        Princess|  9|            116.0|      26.0|  9.51|  13.0|            44.62| 11.0|
|  Celebration|        Carnival| 26|           47.262|     14.86|  7.22|  7.43|             31.8|  6.7|
|      Century|       Celebrity| 18|70.60600000000001|      17.7|  8.15|  8.75|            39.89| 8.58|
|     Classica|           Costa| 22|           52.926|     13.02|  7.18|  6.54|            40.65| 6.17|
|        Cloud|       Silversea| 19|             16.8|      2.96|  5.14|  1.48|            56.76|  2.1|
|     Conquest|        Carnival| 11|            110.0|     29.74|  9.53| 14.88|            36.99| 19.1|
|Constellation|       Celebrity| 11|             91.0|     20.32|  9.65|  9.75|            44.78| 9.99|
|        Coral|        Princess| 11|91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|
|        Crown|       Norwegian| 25|            34.25|     10.52|  6.15|  5.26|            32.56|  4.7|
|        Crown|        Princess|  7|            116.0|      31.0|  9.51| 15.57|            37.42| 12.0|
+-------------+----------------+---+-----------------+----------+------+------+-----------------+-----+
only showing top 20 rows

In [ ]:
pandas vs pyspark

nahi --> sql --> easy

In [54]:
df.groupBy("Ship_name").count().filter("Ship_name=='Freedom'").show()

+---------+-----+
|Ship_name|count|
+---------+-----+
|  Freedom|    2|
+---------+-----+

In [46]:
spark.sql("select Ship_name,count(*) as count from crew group by Ship_name having Ship_name='Freedom'").show()

+---------+-----+
|Ship_name|count|
+---------+-----+
|  Freedom|    2|
+---------+-----+

In [55]:
spark.read.option('header','true').csv('emp.csv').createOrReplaceTempView("empview")
spark.read.option('header','true').csv('dept.csv').createOrReplaceTempView("deptview")

In [57]:
spark.sql("select * from empview").show()

+---+------+-----+
| id|  name|  sal|
+---+------+-----+
|101|rakesh|75000|
|102| rahul|95000|
|103|   jon|75000|
+---+------+-----+

In [58]:
spark.sql("select * from deptview").show()

+------+--------+---+
|deptid|deptname| id|
+------+--------+---+
|   501|   admin|101|
|   405|      IT|102|
|   601|      HR|103|
+------+--------+---+

In [65]:
df_sql = spark.sql("select empview.id,empview.name,empview.sal,deptview.deptname,deptview.deptid from empview inner join deptview on empview.id=deptview.id").toPandas()

In [ ]:
sql with pyspark -- interview

In [66]:
df_sql

    id    name    sal deptname deptid
0  101  rakesh  75000    admin    501
1  102   rahul  95000       IT    405
2  103     jon  75000       HR    601

In [68]:


# list of employee data with 5 row values
data = [["1", "sravan", "company 1"],
		["2", "ojaswi", "company 2"],
		[None, "bobby", "company 3"],
		["1", "sravan", "company 1"],
		["2", "ojaswi", None],
		[None, "rohith", "company 2"],
		["5", "gnanesh", "company 1"],
		["2", None, "company 2"],
		["3", "bobby", "company 3"],
		["4", "rohith", "company 2"]]

# specify column names
columns = ['ID', 'Employee NAME', 'Company Name']


dataframe = spark.createDataFrame(data, columns)

In [69]:
dataframe.show()

Py4JJavaError: An error occurred while calling o402.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 90.0 failed 1 times, most recent failure: Lost task 0.0 in stage 90.0 (TID 69) (Kantilal-Python executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 29 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:506)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:459)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:48)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3868)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3084)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:288)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:327)
	at sun.reflect.GeneratedMethodAccessor74.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 29 more

In [70]:
data

[['1', 'sravan', 'company 1'],
 ['2', 'ojaswi', 'company 2'],
 [None, 'bobby', 'company 3'],
 ['1', 'sravan', 'company 1'],
 ['2', 'ojaswi', None],
 [None, 'rohith', 'company 2'],
 ['5', 'gnanesh', 'company 1'],
 ['2', None, 'company 2'],
 ['3', 'bobby', 'company 3'],
 ['4', 'rohith', 'company 2']]

In [ ]:
dataframe.filter("ID==2").show()

In [76]:
df_sql.shape

(3, 5)

In [78]:
df_sql['name']

0    rakesh
1     rahul
2       jon
Name: name, dtype: object

In [ ]:
sql --> python