In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [7]:
df = spark.read.csv('test.csv',header=True,inferSchema=True)

In [11]:
g = df.show()

+------+----+-----+
|  name| age|  sal|
+------+----+-----+
|kesahv|  25|75000|
|  null|  30|95000|
|  null|null| null|
|  null|null|65144|
|   jon|null| null|
|sonali|  30|75000|
+------+----+-----+

In [12]:
g

In [13]:
type(g)

NoneType

In [14]:
df.show()

+------+----+-----+
|  name| age|  sal|
+------+----+-----+
|kesahv|  25|75000|
|  null|  30|95000|
|  null|null| null|
|  null|null|65144|
|   jon|null| null|
|sonali|  30|75000|
+------+----+-----+

In [16]:
df.fillna('na').show()

+------+----+-----+
|  name| age|  sal|
+------+----+-----+
|kesahv|  25|75000|
|    na|  30|95000|
|    na|null| null|
|    na|null|65144|
|   jon|null| null|
|sonali|  30|75000|
+------+----+-----+

In [17]:
from pyspark.ml.feature import Imputer

In [29]:
obj = Imputer(inputCols=['age','sal'],
             outputCols=['age','sal']).setStrategy("mean")

In [30]:
obj.fit(df).transform(df).show()

+------+---+-----+
|  name|age|  sal|
+------+---+-----+
|kesahv| 25|75000|
|  null| 30|95000|
|  null| 28|77536|
|  null| 28|65144|
|   jon| 28|77536|
|sonali| 30|75000|
+------+---+-----+

In [23]:
25+30+30

85

In [24]:
85/3

28.333333333333332

In [33]:
df.fillna(100).show()

+------+---+-----+
|  name|age|  sal|
+------+---+-----+
|kesahv| 25|75000|
|  null| 30|95000|
|  null|100|  100|
|  null|100|65144|
|   jon|100|  100|
|sonali| 30|75000|
+------+---+-----+

In [34]:
df.show()

+------+----+-----+
|  name| age|  sal|
+------+----+-----+
|kesahv|  25|75000|
|  null|  30|95000|
|  null|null| null|
|  null|null|65144|
|   jon|null| null|
|sonali|  30|75000|
+------+----+-----+

In [39]:
obj = Imputer(inputCol='age',
             outputCol='age').setStrategy("bfill")

In [40]:
obj.fit(df).transform(df).show()

IllegalArgumentException: Imputer_98599652e4a1 parameter strategy given invalid value bfill.

In [41]:
df.show()

+------+----+-----+
|  name| age|  sal|
+------+----+-----+
|kesahv|  25|75000|
|  null|  30|95000|
|  null|null| null|
|  null|null|65144|
|   jon|null| null|
|sonali|  30|75000|
+------+----+-----+

In [43]:
df1 = df.toPandas().fillna(method='ffill')

In [44]:
type(df1)

pandas.core.frame.DataFrame

In [45]:
df1.to_csv('test12.csv')

In [46]:
df1

     name   age      sal
0  kesahv  25.0  75000.0
1  kesahv  30.0  95000.0
2  kesahv  30.0  95000.0
3  kesahv  30.0  65144.0
4     jon  30.0  65144.0
5  sonali  30.0  75000.0

In [47]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 10B6-0DC8

 Directory of C:\Users\kanti\OneDrive\Desktop\ML session\Pyspark

05/04/2023  20:37    <DIR>          .
05/04/2023  15:02    <DIR>          ..
05/04/2023  20:14    <DIR>          .ipynb_checkpoints
04/04/2023  20:08                23 .jovianrc
17/09/2022  07:08       140.600.832 city_temperature.csv
04/04/2023  20:59            41.389 Pyspark2.ipynb
05/04/2023  20:37            18.218 Pyspark3.ipynb
04/04/2023  20:44                77 test.csv
05/04/2023  20:37               150 test12.csv
               6 File(s)    140.660.689 bytes
               3 Dir(s)     254.513.152 bytes free

In [48]:
df1 = spark.read.csv('city_temperature.csv',header=True,inferSchema=True)

In [50]:
df1.show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1995|          64.2|
|Africa|Algeria| null|Algiers|    1|  2|1995|          49.4|
|Africa|Algeria| null|Algiers|    1|  3|1995|          48.8|
|Africa|Algeria| null|Algiers|    1|  4|1995|          46.4|
|Africa|Algeria| null|Algiers|    1|  5|1995|          47.9|
|Africa|Algeria| null|Algiers|    1|  6|1995|          48.7|
|Africa|Algeria| null|Algiers|    1|  7|1995|          48.9|
|Africa|Algeria| null|Algiers|    1|  8|1995|          49.1|
|Africa|Algeria| null|Algiers|    1|  9|1995|          49.0|
|Africa|Algeria| null|Algiers|    1| 10|1995|          51.9|
|Africa|Algeria| null|Algiers|    1| 11|1995|          51.7|
|Africa|Algeria| null|Algiers|    1| 12|1995|          51.3|
|Africa|Algeria| null|Algiers|    1| 13|1995|          47.0|
|Africa|Algeria| null|Algiers|    1| 14|1995|          46.9|
|Africa|Algeria| null|Algiers|    1| 15|1995|          47.5|
|Africa|Algeria| null|Algiers|    1| 16|1995|          45.9|
|Africa|Algeria| null|Algiers|    1| 17|1995|          44.5|
|Africa|Algeria| null|Algiers|    1| 18|1995|          50.7|
|Africa|Algeria| null|Algiers|    1| 19|1995|          54.0|
|Africa|Algeria| null|Algiers|    1| 20|1995|          52.6|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [54]:
df1.filter("Year=1998").show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1998|          50.9|
|Africa|Algeria| null|Algiers|    1|  2|1998|          52.5|
|Africa|Algeria| null|Algiers|    1|  3|1998|          58.6|
|Africa|Algeria| null|Algiers|    1|  4|1998|          56.4|
|Africa|Algeria| null|Algiers|    1|  5|1998|          55.8|
|Africa|Algeria| null|Algiers|    1|  6|1998|          56.9|
|Africa|Algeria| null|Algiers|    1|  7|1998|          51.2|
|Africa|Algeria| null|Algiers|    1|  8|1998|          50.9|
|Africa|Algeria| null|Algiers|    1|  9|1998|          52.8|
|Africa|Algeria| null|Algiers|    1| 10|1998|          56.5|
|Africa|Algeria| null|Algiers|    1| 11|1998|          60.9|
|Africa|Algeria| null|Algiers|    1| 12|1998|          61.1|
|Africa|Algeria| null|Algiers|    1| 13|1998|          59.5|
|Africa|Algeria| null|Algiers|    1| 14|1998|          53.1|
|Africa|Algeria| null|Algiers|    1| 15|1998|          50.5|
|Africa|Algeria| null|Algiers|    1| 16|1998|          49.4|
|Africa|Algeria| null|Algiers|    1| 17|1998|          52.0|
|Africa|Algeria| null|Algiers|    1| 18|1998|          46.9|
|Africa|Algeria| null|Algiers|    1| 19|1998|          52.6|
|Africa|Algeria| null|Algiers|    1| 20|1998|          59.3|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [58]:
df1.filter('AvgTemperature>50').count()

2019415

In [63]:
df1.filter(('Region==Africa') and ("AvgTemperature>50")).show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  1|1995|          64.2|
|Africa|Algeria| null|Algiers|    1| 10|1995|          51.9|
|Africa|Algeria| null|Algiers|    1| 11|1995|          51.7|
|Africa|Algeria| null|Algiers|    1| 12|1995|          51.3|
|Africa|Algeria| null|Algiers|    1| 18|1995|          50.7|
|Africa|Algeria| null|Algiers|    1| 19|1995|          54.0|
|Africa|Algeria| null|Algiers|    1| 20|1995|          52.6|
|Africa|Algeria| null|Algiers|    1| 21|1995|          54.2|
|Africa|Algeria| null|Algiers|    1| 22|1995|          51.0|
|Africa|Algeria| null|Algiers|    1| 23|1995|          53.5|
|Africa|Algeria| null|Algiers|    1| 24|1995|          54.2|
|Africa|Algeria| null|Algiers|    1| 25|1995|          54.2|
|Africa|Algeria| null|Algiers|    1| 26|1995|          52.6|
|Africa|Algeria| null|Algiers|    1| 27|1995|          55.5|
|Africa|Algeria| null|Algiers|    1| 28|1995|          53.8|
|Africa|Algeria| null|Algiers|    1| 29|1995|          54.3|
|Africa|Algeria| null|Algiers|    1| 30|1995|          57.4|
|Africa|Algeria| null|Algiers|    1| 31|1995|          56.9|
|Africa|Algeria| null|Algiers|    2|  1|1995|          50.4|
|Africa|Algeria| null|Algiers|    2|  2|1995|          50.1|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [67]:
df1.filter(~(("AvgTemperature<50") and ("AvgTemperature>50"))).show()

TypeError: bad operand type for unary ~: 'str'

In [70]:
df1.filter(~(df1['AvgTemperature']>50)).show()

+------+-------+-----+-------+-----+---+----+--------------+
|Region|Country|State|   City|Month|Day|Year|AvgTemperature|
+------+-------+-----+-------+-----+---+----+--------------+
|Africa|Algeria| null|Algiers|    1|  2|1995|          49.4|
|Africa|Algeria| null|Algiers|    1|  3|1995|          48.8|
|Africa|Algeria| null|Algiers|    1|  4|1995|          46.4|
|Africa|Algeria| null|Algiers|    1|  5|1995|          47.9|
|Africa|Algeria| null|Algiers|    1|  6|1995|          48.7|
|Africa|Algeria| null|Algiers|    1|  7|1995|          48.9|
|Africa|Algeria| null|Algiers|    1|  8|1995|          49.1|
|Africa|Algeria| null|Algiers|    1|  9|1995|          49.0|
|Africa|Algeria| null|Algiers|    1| 13|1995|          47.0|
|Africa|Algeria| null|Algiers|    1| 14|1995|          46.9|
|Africa|Algeria| null|Algiers|    1| 15|1995|          47.5|
|Africa|Algeria| null|Algiers|    1| 16|1995|          45.9|
|Africa|Algeria| null|Algiers|    1| 17|1995|          44.5|
|Africa|Algeria| null|Algiers|    2|  4|1995|          49.1|
|Africa|Algeria| null|Algiers|    2|  5|1995|          48.8|
|Africa|Algeria| null|Algiers|    2| 27|1995|          48.3|
|Africa|Algeria| null|Algiers|    3| 31|1995|          46.6|
|Africa|Algeria| null|Algiers|    4|  1|1995|          47.4|
|Africa|Algeria| null|Algiers|    8|  9|1995|         -99.0|
|Africa|Algeria| null|Algiers|    8| 10|1995|         -99.0|
+------+-------+-----+-------+-----+---+----+--------------+
only showing top 20 rows

In [84]:
df1.select('Region').distinct().count()

7

In [85]:
#group by

In [92]:
df1.groupBy('Region').count().show()

+--------------------+-------+
|              Region|  count|
+--------------------+-------+
|              Africa| 251118|
|                Asia| 316663|
|              Europe| 381990|
|Australia/South P...|  55596|
|       North America|1556681|
|         Middle East| 124749|
|South/Central Ame...| 219530|
+--------------------+-------+

In [95]:
df1.groupBy('Region').avg('AvgTemperature').show()

+--------------------+-------------------+
|              Region|avg(AvgTemperature)|
+--------------------+-------------------+
|              Africa|  53.54951656193528|
|                Asia|  62.56865184754707|
|              Europe|  46.69628524306841|
|Australia/South P...| 61.180869127275976|
|       North America|  55.30093262524632|
|         Middle East|  68.38455378399779|
|South/Central Ame...|  62.18943880107512|
+--------------------+-------------------+