In [5]:
import mysql.connector

In [6]:
conn=  mysql.connector.connect(user='root',password='',port=3306,host='localhost')
cur = conn.cursor()
cur.execute("create database market")

DatabaseError: 1007 (HY000): Can't create database 'market'; database exists

In [1]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.35-cp39-cp39-win_amd64.whl (66 kB)
     -------------------------------------- 66.1/66.1 kB 507.7 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.35

[notice] A new release of pip available: 22.1.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pyodbc

In [9]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=LAPTOP-3F3BGQT0;'
                      'Trusted_Connection=yes;'
                      'Database=scodden'
                      )

In [12]:
for i in range(1,10):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****
******
*******
********
*********

In [13]:
for i in range(1,10):
    for j in range(1,10-i):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    print("")

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [35]:
for i in range(1,10):
    for j in range(1,10-i):
        print(" ",end="")
    for j in range((i*2)-1):
        print(j,end="")
    print("")

        0
       012
      01234
     0123456
    012345678
   012345678910
  0123456789101112
 01234567891011121314
012345678910111213141516

In [16]:
for i in range(1,10):
    for j in range(i):
        print(" ",end="")
    for j in range(((10-i)*2)-1):
        print("*",end="")
    print("")

 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [33]:
for i in range(1,10):
    for j in range(1,10-i):
        print(" ",end="")
    for j in range((i*2)-1):
        if j==0 or j==(i*2)-2:
            print("*",end="")
        else:
            print(" ",end="")
    print("")
for i in range(1,10):
    for j in range(i):
        print(" ",end="")
    for j in range(((9-i)*2)-1):
        if j==0 or j==((9-i)*2)-2:
            print("*",end="")
        else:
            print(" ",end="")
    print("")

        *
       * *
      *   *
     *     *
    *       *
   *         *
  *           *
 *             *
*               *
 *             *
  *           *
   *         *
    *       *
     *     *
      *   *
       * *
        *

In [22]:
chr(65)

'A'